.SearchResults {
    height: 40rem;
    background-color: #423f3fef;
    padding: 0.9rem;
    overflow-y: scroll;
    width: 50%;
    box-shadow: 0 4px 2px 2px #000;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}